.purchases_panel {
	.title {
		font-family: FreeSerif;
		font-style: italic;
		font-weight: 400;
		font-size: 36px;
		color: #021825;
		border-bottom: 1px solid rgba(2, 24, 37, 0.1);
		padding-bottom: 18px;
		margin-bottom: 24px;
		span {
			font-family: FreeSerif;
			font-style: italic;
			color: rgba(2, 24, 37, 0.5);
		}
	}
	.list-panel {
		.item-panel {
			border: 1px solid rgba(2, 24, 37, 0.1);
			border-radius: 12px;
			.title-panel {
				padding: 30px !important;
				border-right: 1px solid rgba(2, 24, 37, 0.1);
				@media (max-width: 767px) {
					border-right: 0;
					border-bottom: 1px solid rgba(2, 24, 37, 0.1);
				}
				h3 {
					font-weight: 400;
					font-size: 12px;
					line-height: 15px;
					color: rgba(2, 24, 37, 0.7);
				}
				p {
					font-weight: 400;
					font-size: 14px;
					line-height: 18px;
					color: #021825;
				}
			}
			.order-panel {
				padding: 30px 24px !important;
				.product-panel {
					.image-panel {
						width: 120px;
						height: 120px;
						overflow: hidden;
						border: 1px solid rgba(2, 24, 37, 0.1);
						border-radius: 10px;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
				.btn-panel {
					margin-top: 34px;
					.btn-order-detail {
						padding: 10px 18px;
						line-height: 15px;
						font-weight: 500;
						font-size: 12px;
					}
					.btn-reorder {
						padding: 10px 18px;
						font-weight: 500;
						font-size: 12px;
						line-height: 15px;
						color: rgba(2, 24, 37, 0.7);
						background: #f6f6f6;
						border: 1px solid #f6f6f6;
						&:hover {
							background: transparent;
						}
					}
				}
			}
		}
	}
}
