.crafting-idea-section {
  padding-top: 10rem;
  & .row {
    background: url(/img/bespoke/idea_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .title {
    font-size: 6.4rem;
    font-weight: 400;
    @media (max-width: 425px) {
      font-size: 5rem;
    }
    span {
      font-family: FreeSerif;
      font-style: italic;
      font-size: 7rem;
    }
  }
  .description {
    color: rgba(2, 24, 37, 0.8);
    font-size: 2.4rem;
  }
  .btn-panel {
    .btn {
      font-size: 1.6rem;
      font-weight: 400;
    }
    .pink-btn {
      &:hover {
        border-color: #01215c;
        color: #01215c;
      }
    }
  }
}
