.schedule {
  padding-top: 10rem;
  padding-bottom: 10rem;
  .text-panel {
    h3 {
      font-size: 3.6rem;
    }
    h2 {
      font-size: 6.4rem;
      font-family: FreeSerif, sans-serif;
      font-style: italic;
    }
    p {
      font-size: 1.8rem;
    }
    @media (max-width: 425px) {
      h3 {
        font-size: 2.4rem;
      }
      h2 {
        font-size: 4.8rem;
      }
    }
  }
  .schedule-panel {
    height: 100%;
    background: linear-gradient(
        53.9deg,
        #01215c 22.38%,
        rgba(1, 33, 92, 0) 100%
      ),
      url(/img/common/Rectangle72.png) no-repeat;
    background-size: cover;

    .book-btn {
      font-size: 1.8rem;
      width: 100%;
      span {
        font-weight: 500;
      }
    }
    .contact-btn-group {
      margin-top: 5rem;
      width: 100%;
      button {
        width: 48%;
        * {
          font-size: 2.4rem;
        }
        span {
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
      @media (max-width: 1224px) {
        flex-direction: column;
        button {
          width: 100%;
        }
        .contact-btn {
          margin-bottom: 2rem;
        }
      }
    }
    @media (max-width: 424px) {
      padding: 20px !important;
      .book-btn {
        font-size: 1.4rem;
        padding: 10px 20px !important;
        justify-content: center !important;
        img {
          display: none;
        }
      }
    }
  }
  .newsletter-panel {
    height: 100%;
    background: #f2ebdf;
    .form-panel {
      * {
        font-size: 1.6rem;
      }
      button {
        width: 100%;
        span {
          font-weight: 500;
        }
      }
    }
    @media (max-width: 424px) {
      padding: 20px !important;
      button {
        width: 100%;
        font-size: 1.4rem;
        padding: 10px 20px !important;
        justify-content: center !important;
        img {
          display: none;
        }
      }
    }
  }
}
