html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: MarlinGeoSQ, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: MarlinGeoSQ;
  src: url(/font/marlin-geo-sq/MarlinGeoSQ-Medium.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: MarlinGeoSQ;
  src: url(/font/marlin-geo-sq/MarlinGeoSQ-Light.ttf);
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: FreeSerif;
  src: url(/font/freeserif/FreeSerifItalic.ttf);
  font-style: italic;
  font-weight: normal;
}