$headerBorderColor: 1px solid rgba(255, 255, 255, 0.1);
$flagSelectColor: white;

#header {
  position: relative;
  top: 0;
  width: 100%;
  background: white;
  &.homepage {
    position: absolute;
    background: transparent;
    * {
      color: white;
    }
    a:hover {
      color: white;
    }
  }
  * {
    font-family: MarlinGeoSQ;
    font-size: 1.3rem;
    // font-style: normal;
    font-weight: lighter;
    color: black;
  }
  & a:hover {
    color: black;
  }
  .r-container {
    width: 100%;
    max-width: 1500px;
    margin: auto;
  }
  & .top-bar {
    * {
      font-size: 1rem;
    }
    background: #01215c;
    * {
      color: white;
    }
    a:hover {
      color: white;
    }
  }
  & .flag-select {
    * {
      font-size: 1.6rem;
    }
    & #rfs-btn {
      border: 0;
      padding: 0;
      * {
        font-size: 1.8rem;
      }
      &::after {
        border-top-color: $flagSelectColor;
        margin-left: 0;
      }
      &[aria-expanded="true"]::after {
        border-bottom-color: $flagSelectColor;
      }
    }
  }
  & > .row:not(.top-bar) {
    background: transparent;
    border-bottom: $headerBorderColor;
  }
  & .middle-bar {
    * {
      font-size: 1rem;
    }
    .r-container {
      @media (max-width: 890px) {
        flex-direction: column;
        div {
          justify-content: center;
        }
      }
    }
    & svg {
      margin-right: 10px;
    }
  }
  & .logo-bar {
    & .font-icon {
      font-size: 22px;
    }
    & .logo-img {
      width: 190px;
      height: auto;
    }
  }
  & > .sub-bar {
    .r-container {
      .right-menu {
        max-width: max-content;
      }
      .left-menu {
        flex: 1;
      }
      // @media (max-width: 1180px) {
      //   flex-direction: column;
      // }
    }
  }
  .mobile-header {
    .mobile__top-bar {
      background: #01215c;
      a {
        font-size: 1.1rem;
      }
    }
    .mobile__sub-bar {
      background: white;
      .links-panel {
        * {
          color: #01215C;
          font-size: 2.2rem;
        }
      }
    }
  }
}
