$titleSize: 7.2rem;
.homepage {
  .hero {
    overflow: hidden;
    position: relative;
    margin-top: 4rem;
    background: linear-gradient(
        180deg,
        rgba(1, 33, 92, 0.9) 0%,
        rgba(1, 33, 92, 0) 60.17%
      ),
      url(/img/homepage/hero_bg.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 30rem;
    @media (max-width: 425px) {
      padding-top: 20rem;
    }
    .bg_video {
      width: 100%;
      z-index: 1;
    }
    & .text-panel {
      h1 {
        font-size: $titleSize;
        color: #01215c;
        span {
          font-family: FreeSerif;
          font-weight: normal;
          font-style: italic;
        }
      }
      p {
        color: rgba(1, 33, 92, 0.7);
        font-size: 2rem;
      }
      @media (max-width: 425px) {
        h1 {
          font-size: 5rem;
        }
        p {
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
    }
    & .btn-panel {
      padding-bottom: 10rem;
      button {
        font-size: 1.6rem;
        text-transform: uppercase;
        @media (max-width: 480px) {
          width: 100%;
        }
      }
    }
    @media (max-width: 575px) {
      background: #00070c;
      padding-top: 5rem;
      .r-container {
        position: relative;
        // z-index: 2;
      }
      .text-panel {
        h1 {
          color: white;
        }
        P {
          color: white;
        }
      }
      .btn-panel {
        .rainbow-btn {
          background: white;
          color: black !important;
          &:hover {
            background: transparent;
            color: white !important;
            border-color: white;
          }
        }
        .shop-now-btn {
          border-color: white !important;
          color: white !important;
          &:hover {
            background: white !important;
            color: black !important;
          }
        }
      }
    }
  }

  .categories {
    padding: 15px 0 15px 15px;
    > div {
      padding-right: 15px !important;
    }
    a {
      & .category-item {
        width: 100%;
        position: relative;
        overflow: hidden;
        .hover-title {
          position: absolute;
          bottom: 0;
          font-family: FreeSerif, sans-serif;
          font-weight: normal;
          font-style: italic;
          width: 100%;
          background: rgba(255, 255, 255, 0.3);
          font-size: 2rem;
          transform: translate(0, 100%);
          transition-duration: 0.7s;
          color: #021825;
        }
        &:hover {
          .hover-title {
            transform: translate(0, 0px);
            transition-duration: 0.7s;
          }
          img {
            transform: scale(1.2);
            transition-duration: 0.7s;
          }
        }
        img {
          width: 100%;
          transition-duration: 0.7s;
        }
      }
    }
  }

  .collections {
    position: relative;
    padding-bottom: 10rem;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 100px;
      background: #13439b;
      opacity: 0.7;
      filter: blur(150px);
      transform: matrix(0.8, -0.46, 0.73, 0.83, 0, 0);
      width: 10%;
      height: 70%;
      z-index: 1;
    }
    img {
      width: 100%;
    }
    h2 {
      padding-top: 5rem;
      color: #01215c;
      font-size: 3.6rem;
    }
    .swiper {
      z-index: 5;
      p {
        font-size: 2rem;
      }
    }
    .btn-bottom-panel {
      z-index: 5;
      position: relative;
    }
    button {
      &:focus-visible {
        box-shadow: none;
        outline: none;
      }
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }

  .help {
    background: #f2ebdf;
    padding-top: 10rem;
    & .row {
      background: url(/img/homepage/help_bg.png);
      background-size: contain;
      background-repeat: no-repeat;
      overflow: hidden;
      background-size: 50%;
      // background-position: 0 -20%;
      @media (max-width: 1024px) {
        background-size: 80%;
      }

      @media (max-width: 960px) {
        background-size: 100%;
      }
    }
    & .text-panel {
      h2 {
        font-size: $titleSize;
        @media (max-width: 425px) {
          font-size: 5rem;
        }
        span {
          font-family: FreeSerif;
          font-style: italic;
        }
      }
      p {
        font-size: 2.4rem;
        padding-bottom: 5rem;
      }
    }
    & .service_panel {
      margin-bottom: 8rem;
      width: 100%;
      background: white;
      h3 {
        font-size: 3.6rem;
      }
      p {
        width: 80%;
        font-size: 1.8rem;
        @media (max-width: 540px) {
          width: 100%;
        }
      }
      a {
        display: block;
        width: 100%;
        font-size: 1.8rem;
      }
      .design-service {
        &:hover {
          color: #01215c;
        }
      }
      @media (max-width: 450px) {
        h3 {
          font-size: 3rem;
        }
        .upgrade-diamond {
          padding: 10px 20px !important;
          img {
            display: none;
          }
          p {
            text-align: center;
            font-size: 1.4rem;
          }
        }
        .design-service {
          padding: 10px 20px !important;
          text-align: center;
          font-size: 1.4rem;
        }
      }
    }
  }
  .instagram {
    padding-top: 15rem;
    @media (max-width: 425px) {
      padding-top: 10rem;
    }
    .text-panel {
      h1 {
        font-size: 4.8rem;
        color: #01215c;
        div {
          font-family: FreeSerif;
          font-size: 7.2rem;
          font-style: italic;
        }
      }
      @media (max-width: 425px) {
        h1 {
          font-size: 2.8rem;
          div {
            font-size: 5rem;
          }
        }
      }
      .link-panel {
        font-size: 1.8rem;
      }
    }
    .follow-btn {
      font-size: 1.8rem;
    }
    .gallery-panel {
      .gallery-type-1 {
        img {
          height: calc((100vw - 330px) / 4);
          @media (max-width: 1400px) {
            height: calc(90vw / 4);
          }
          @media (max-width: 960px) {
            height: calc(85vw / 4);
          }
          @media (max-width: 767px) {
            height: 100%;
          }
        }
      }
      .gallery-type-2 {
        img {
          height: 100%;
        }
      }
      a {
        padding: 10px !important;
      }
      .gallery-item {
        position: relative;
        overflow: hidden;
        height: 100%;
        .hover-panel {
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: 0;
          opacity: 0;
          background: linear-gradient(
            180deg,
            rgba(8, 14, 24, 0.37) 0%,
            rgba(5, 17, 39, 0) 60.17%
          );
        }
        &::after {
          content: "";
          background-image: url(/img/homepage/Frame90.png);
          background-size: contain;
          width: 30px;
          height: 30px;
          position: absolute;
          right: 20px;
          top: 20px;
          z-index: 10;
          opacity: 0;
        }
        &:hover {
          .hover-panel {
            opacity: 1;
            transition-duration: 0.7s;
          }
          &::after {
            opacity: 1;
            transition-delay: 0.3s;
            transition-duration: 0.5s;
          }
        }
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
