.input-range__label--max,
.input-range__label--min {
  color: #c0cac8;
  font-size: 1.8rem !important;
  bottom: -3rem !important;
}
.input-range {
  margin-bottom: 0 !important;
}
.input-range * {
  font-family: MarlinGeoSQ, sans-serif !important;
  font-weight: normal !important;
}
.input-range__track--background {
  background: #dae7e4;
}

.input-range__track--active {
  background: #e5d7bf !important;
}

.input-range__slider {
  background: #e5d7bf !important;
  border: 2px solid white !important;
  margin-top: -1.4rem !important;
  height: 1.6rem !important;
  width: 1.6rem !important;
}

.input-range__track {
  border-radius: 0.4rem;
  height: 1.2rem !important;
}
.input-range__slider:active {
  transition: none !important;
}

.input-range__label--value .input-range__label-container {
  display: block;
  color: #01215c;
  margin-top: -7px;
  font-size: 1.8rem;
  position: absolute;
  left: 0;
  bottom: -43px;
  transform: translateX(-50%);
}
