.ring_page {
  .hero-section {
    padding-top: 114px;
    padding-bottom: 114px;
    background: url(/img/ring/hero_bg.jpg);
    background-size: cover;
    background-position: center;
    .title {
      font-size: 7.2rem;
      font-family: FreeSerif;
      font-style: italic;
    }
  }
  .product-section {
    .top-bar {
      border-bottom: 1px solid rgba(2, 24, 37, 0.1);
      .title-panel {
        h2 {
          color: #01215c;
          font-size: 3.6rem;
        }
        p {
          font-size: 1.6rem;
          color: rgba(2, 24, 37, 0.7);
          font-weight: 500;
        }
      }
      .search-box {
        background: #f2f3f4;
        @media (max-width: 767px) {
          width: 100%;
        }
        label {
          font-size: 1.4rem;
          font-weight: 500;
        }
        .select-search {
          flex: 1;
          .select-search__value {
            input {
              background: #f2f3f4;
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
              font-size: 1.4rem;
              text-transform: uppercase;
              color: #01215c;
            }
            &::after {
              right: 15px;
            }
          }
        }
      }
    }
    .top-filter-bar {
      .filter-item {
        width: 135px;
        height: 105px;
        border: 1px solid rgba(1, 33, 92, 0.1);
        h3 {
          font-size: 1.2rem;
          font-weight: 400;
        }
        &:focus {
          border: 1px solid #01215c;
          h3 {
            font-weight: 500;
          }
        }
        .image-panel {
          img {
            height: 100%;
          }
        }
      }
    }
    .main-panel {
      .product-panel {
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 40px;
        grid-template-columns: auto auto auto;
        @media (max-width: 1024px) {
          grid-template-columns: auto auto;
        }
        @media (max-width: 680px) {
          grid-template-columns: auto;
        }
        .product-item {
          position: relative;
          .product-image {
            width: 100%;
            overflow: hidden;
            background: #f6f6f6;
            img {
              width: 100%;
              object-fit: cover;
            }
          }
          h3 {
            font-size: 2rem;
            font-weight: 400;
          }
          p {
            font-size: 1.4rem;
            font-weight: 400;
            color: rgba(2, 24, 37, 0.7);
          }
          h4 {
            font-weight: 400;
            font-size: 2.4rem;
          }
        }
        .favor-icon {
          position: absolute;
          top: 20px;
          right: 20px;
          font-size: 2.5rem;
          .favor {
            color: #eb162e;
            display: none;
          }
          .unfavor {
            display: block;
          }
          &.favor {
            .favor {
              display: block;
            }
            .unfavor {
              display: none;
            }
          }
        }
        .load-more-btn {
          color: #01215c;
          font-size: 1.6rem;
          font-weight: 500;
          border: 1px solid #01215c;
          width: 195px;
        }
      }
      .left-filter-bar {
        .accordion-item {
          border: 0;
          .accordion-button {
            background: rgba(246, 246, 246, 1);
            font-size: 1.6rem;
            font-weight: 500;
          }
          .accordion-button {
            &:focus {
              box-shadow: none;
              color: #01215c;
            }
          }
          .accordion-body {
            font-size: 1.4rem;
            font-weight: 400;
            color: #021825;
            input {
              &:focus {
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
  .collection-section {
    position: relative;
    .shadow-pink {
      width: 50vw;
      height: 50vw;
      background: #fad3da;
      opacity: 0.7;
      filter: blur(200px);
      position: absolute;
      left: 10%;
      top: 0;
    }
    .shadow-blue {
      width: 30vw;
      height: 30vw;
      position: absolute;
      right: 10%;
      bottom: 0;
      background: #13439b;
      opacity: 0.2;
      filter: blur(200px);
    }
  }
}
